<div class="tag-input-container">
  <div class="chips">
    @for (tag of tags(); track tag) {
      <span class="chip">
        {{ tag }}
        <button type="button" class="remove-btn" (click)="removeTag(tag)">&times;</button>
      </span>
    }
  </div>
  <div class="input-wrapper">
    <input
      #tagInput
      type="text"
      class="tag-text-input"
      [ngModel]="inputValue()"
      (ngModelChange)="onInput($event)"
      (keydown)="onKeyDown($event)"
      (blur)="onBlur()"
      placeholder="Add tag..."
    />
    @if (showDropdown() && filteredSuggestions().length > 0) {
      <ul class="suggestions">
        @for (suggestion of filteredSuggestions(); track suggestion; let i = $index) {
          <li
            [class.highlighted]="i === highlightedIndex()"
            (mousedown)="selectSuggestion(suggestion)"
          >
            {{ suggestion }}
          </li>
        }
      </ul>
    }
  </div>
</div>
